/* Newsletter */

body {
    background-color: #f4f4f4;
    margin: 0;
}

.outer {
    margin: 0 auto;
    max-width: 600px;
    width:100%;
}

.middle .outer {
    background-color: #ffffff;
    border-radius:4px;
}

.header,
.middle,
.footer {
    margin:0 10px;
    text-align: center;
    background-color: #f4f4f4;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Basic Styles */

a {
    color: #0077cc !important;
    text-decoration: underline;
}

a span {
    color: #0077cc;
}

a img {
    border: 0;
}

div, p, td {
    -webkit-font-smoothing: subpixel-antialiased;
}

table {
    border-collapse: collapse;
}

.h1 {
    font-family: 'helvetica', arial;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 30px;
}

.h2 {
    font-family: 'helvetica', arial;
    font-size: 18px;
    color: #333333;
    text-align: left;
    line-height: 24px;
}

p,
.paragraph {
    font-family: helvetica, arial;
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 20px;
}

p {
    Margin: 1em 0;
}

.quote {
    font-style: italic;
    color: #999999;
}

.cover {
    padding: 0 0 0 0;
}

.cover img {
    width: 100%;
    height: auto;
    max-width: 600px;
    height: auto;
    display: block;
    border-radius: 4px 4px 0 0;
}

/* Buttons */

.button {
    width:auto !important;
    margin: auto;
}

.button td {
    padding:0;
}

.button-link {
    font-family: helvetica;
    font-size: 14px;
    color:#ffffff !important;
    font-weight: bold;
    text-decoration: none;
    background-color: #333333;
    border:#333333 10px solid;
    padding:0 10px;
    border-radius: 25px;
    display: inline-block;
}

.button-link span {
    color:#ffffff;
}
