node_modules/*
!node_modules/inkypad
projects/**
!/projects/kilogram/
!/projects/kilogram_alpha/
projects/kilogram/dev/goods.html
projects/kilogram/dev/css/goods.less
build
.DS_Store
styles.css
.idea
.editorconfig