{% extends "extends/simple.html" %}

{% block content %}

    <h1>Why it's awesome?</h1>
    <p>Kilogram provides a minimal setup of styles, template engine and sweet tools for a fast and clean email development.</p>
    <div>
        <a href="https://github.com/dudeonthehorse/kilogram" class="button" target="_blank"><span>GET KILOGRAM</span></a>
    </div>
    <br/>
    <br/>
    <h2>Getting Started</h2>
    <p class="list-item"><span class="bullit">&#9642;&nbsp;</span> <a href="https://github.com/dudeonthehorse/kilogram" target="_blank"><span>Download Kilogram</span></a></p>
    <p class="list-item"><span class="bullit">&#9642;&nbsp;</span> Use <span class="code">$ npm install</span> command in repository folder to install dependencies</p>
    <p class="list-item"><span class="bullit">&#9642;&nbsp;</span> Run <span class="code">$ gulp</span> in project folder to launch builder and project watcher</p>
    <p class="list-item"><span class="bullit">&#9642;&nbsp;</span> Have fun!</p>

{% endblock %}
