{% extends "extends/simple.html" %}
{% include "macro/macro.html" %}

{% block content %}

    {% markdown %}

    # Why it's awesome?

    Kilogram provides a minimal setup of styles, template engine and sweet tools for a fast and clean email development.

    {% endmarkdown %}
    <div>{{ button('http://google.com', 'GET KILOGRAM') }}</div>
    <h2>Getting Started</h2>
    <div class="ul">
        <p class="li"><span class="bullit">&#9642;&nbsp;</span> <a href="https://github.com/dudeonthehorse/kilogram" target="_blank"><span>Download Kilogram</span></a></p>
        <p class="li"><span class="bullit">&#9642;&nbsp;</span> Use <span class="code">$ npm install</span> command in repository folder to install dependencies</p>
        <p class="li"><span class="bullit">&#9642;&nbsp;</span> Go to <span class="code">project_name</span> folder using <span class="code">$ ls</span> or <span class="code">$ dir</span> command</p>
        <p class="li"><span class="bullit">&#9642;&nbsp;</span> Run <span class="code">$ gulp</span> to launch builder and project watcher</p>
        <p class="li"><span class="bullit">&#9642;&nbsp;</span> Have fun!</p>
    </div>

{% endblock %}
