body {
    background-color: #ffffff;
    /*
    padding: 0;
    Margin: 0;
    */
}

.body {
    text-align: center;
    background-color: #ffffff;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #3399ff !important;
    text-decoration: underline;
}

a span {
    color: #3399ff;
}

a img {
    border: 0;
}

table {
    border-collapse: collapse;
}

td {
    padding:0;
    text-align: left;
}

h1, h2, h3 {
    font-family: 'helvetica', arial;
    font-size: 24px;
    font-weight: normal;
    font-weight: 300;
    color: #000000;
    text-align: left;
    line-height: 28px;
    display: block;
    Margin:0 0 .5em 0;
}

p, div {
    font-family: 'helvetica', arial;
    font-size: 14px;
    color: #000000;
    text-align: left;
    line-height: 20px;
    Margin: 1em 0;
    font-weight: 300;
    display: block;
}

div {
    Margin: 0;
}
