.button {
    background-color: #3399ff;
    border-radius: 2px;
    color:#ffffff !important;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 36px;
    padding:0 25px;
    text-align: center;
    text-decoration: none;
}

.button span {
    color:#ffffff;
}
