.cell {
    padding:0;
}

.column {
    display: inline-block;
    font-size: 14px;
    max-width: 500px;
    vertical-align: top;
    width: 100%;
}

.container {
    margin:0 auto;
    max-width: 600px;
    width: 100%;
}

.row {
    font-size: 0;
    text-align: center;
}
