{% macro aside(src, html, side) %}
{% set dir = 'false' %}
{% if(side == 'left') %}{% set dir='ltr' %}{% else %}{% set dir = 'rtl' %}{% endif %}
<row class="content aside" dir="{{dir}}"><column class="col-50" dir="ltr"><img src="{{src}}" alt="" style="width:100%;"></column><column class="col-50" dir="ltr"><p style="Margin: 0;">{{html}}</p></column></row>
{% endmacro %}

{% macro button(text, href, bgcolor) %}
{% if not(bgcolor) %} {% set bgcolor = '#38AFFF' %} {% endif %}
<button href="{{href}}" target="_blank" width="200" bgcolor="{{bgcolor}}" color="#ffffff" radius="50px">{{text}}</button>
{% endmacro %}

{% macro cover(src, href, heading) %}
<cover bgcolor="#ffffff">{% if href %}<a href="{{href}}" style="border-bottom:none;">{% endif %}<img alt="" src="{{src}}" width="600" style="width: 100%; max-width:600px;">
{% if href %}</a>{% endif %}{% if heading %}<h2>{{heading}}</h2>{% endif %}</cover>{% endmacro %}

{% macro hello(heading, caption, cta, href) %}
<table class="hello" width="100%">
    <row dir="rtl">
        <column dir="ltr" style="max-width:250px; vertical-align:bottom;">
            <p style="text-align:center; Margin:.5em 0;">{{caption}}</p>
            <button href="{{href}}" target="_blank" width="200" bgcolor="#38AFFF" color="#ffffff" radius="50px">{{cta}}</button>
        </column>
        <column dir="ltr" style="max-width:250px; vertical-align:bottom;">
            <h3 style="Margin:0; text-align:left;">{{heading}}</h3>
        </column>
    </row>
</table>
{% endmacro %}

{% macro image(src, href, width) %}
<p style="Margin: 24px 0; text-align:center;">{% if href %}<a href="{{href}}" style="border-bottom:none;">{% endif %}<img alt="" src="{{src}}" width="{{width}}" style="width: 100%; max-width:{{width}}px;">
{% if href %}</a>{% endif %}</p>
{% endmacro %}

{% macro logo() %}
<a href="http://kupibilet.ru/" style="border-bottom:none;"><img width="141" src="https://gallery.mailchimp.com/e0aa38ab8bbef02e66cb569ae/images/a11ad647-dd07-44fc-995b-9ae3fd2199a5.png" alt="Kupibilet"></a>
{% endmacro %}

{% macro note(text) %}
<p class="note">{{text}}</p>
{% endmacro %}

{% macro signature(src, email, name) %}<p style="text-align:center;"><img src="https://gallery.mailchimp.com/e0aa38ab8bbef02e66cb569ae/images/50ed5aaf-235f-4ad5-b3b5-8253121fcc47.png" width="72"></p><p style="text-align:center;">Это письмо подготовлено<br/>российской командой<br/><a href="http://kupibilet.ru/" style="border-bottom:none;"><img src="https://gallery.mailchimp.com/e0aa38ab8bbef02e66cb569ae/images/a11ad647-dd07-44fc-995b-9ae3fd2199a5.png" alt="Kupibilet" width="120"></a></p>{% endmacro %}

{% macro tickets(src, href, src2, href2) %}
<row class="content tickets"><column class="col-50" style="vertical-align:middle;" dir="ltr"><a href="{{href}}" style="border-bottom:none;"><img src="{{src}}" alt="" style="width:100%;"></a></column><column class="col-50" style="vertical-align:middle;" dir="ltr"><a href="{{href2}}" style="border-bottom:none;"><img src="{{src2}}" alt="" style="width:100%;"></a></column></row>
{% endmacro %}

{% macro quote(html) %}
<center style="Margin: 2em 0;">
    <table width="400" class="quote" style="width:100%; max-width:400px; Margin: auto;">
        <tr>
            <td bgcolor="#fff4db" style="border-radius:24px; padding:0 18px;">
                <p class="quote">{{html}}</p>
            </td>
        </tr>
    </table>
</center>
{% endmacro %}
